# SPDX-License-Identifier: Apache-2.0

if BOARD_CLIP_NODE_NRF52810

config GPIO
	default y

config PWM
	default y

config ADC
	default y

config SERIAL
	default n

config CONSOLE
	default n

config UART_CONSOLE
	default n

config USE_SEGGER_RTT
	default y

config LOG_BACKEND_RTT
	default y

endif # BOARD_CLIP_NODE_NRF52810
