/.gradle/
/.gradle-user/
/.wrapper-merge/
/settings.gradle.kts
/build.gradle.kts
/app/build.gradle.kts
/gradle/wrapper/gradle-wrapper-all.jar
/gradle/wrapper/gradle-wrapper-all.properties
/gradle/wrapper/gradle-wrapper-combined.jar
/gradle/wrapper/*.tmp
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper-shared.jar
/gradle/wrapper/gradle-cli.jar
/gradle/wrapper/gradle-files.jar
/.idea/
/local.properties
**/build/
*.iml
